{% load section_tags %}
<!DOCTYPE html>
<!-- Powered by Django -->
<html>
  <head>
    <title>Chase Childers</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="all" type="text/css" href="https://chase-childers.s3.amazonaws.com/assets/welcome.css" data-turbolinks-track="reload">
    <script src="https://chase-childers.s3.us-east-2.amazonaws.com/assets/application.js" data-turbolinks-track="reload"></script>
  </head>

  <body style="margin: 0px 0px">
    {% for section in resume_data.sections %}

    <div class="section"  {% if section.asset %}style="background-image: url({{ section.asset}});{% if forloop.counter0 == 0 %}height: 1000px;{% endif %}"{% endif %}>
        <div class="section_header">
            <span class="border">{{ forloop.counter0 }}{{ section.title }}</span>
        </div>
    </div>

    {% with "sections/"|add:section.type|add:".html" as template %}
    {% if template|template_exists  %}
    <div class="section_body">
    {% include template %}
    </div>
    {% endif %}
    {% endwith %} 
    {% endfor %}
  </body>
</html>
